@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Qwitcher+Grypen:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.cusBTN
{
    @apply border-[1px] rounded-full capitalize px-5 py-0 
} 




#hero
{
    position: relative;
    z-index: -30;
    
}
.navBar
{
    position: absolute;
    top: 40%;
    left: -3%;
    transform: translate(-50%,-50%);
    transform: rotate(90deg);
    z-index: 39;
}
#back_Home
{
    position: absolute;
    height: 100%;
    font-size: 14vw;
    top: 50%;
    left: 50%;
    text-shadow: -71px 18px 17px rgba(128, 128, 128, 0.526);
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    font-weight: bolder;
    color: rgba(4, 4, 4, 0.687);
    position: absolute;
    z-index: -10;
}
#title
{  
    font-size: 14vw;
    text-shadow: -71px 18px 17px rgba(128, 128, 128, 0.526);
    text-transform: uppercase;
    font-weight: 200;
    color: rgba(4, 4, 4, 0.687);
    position: absolute;
    z-index: -10;
   
}

